* {
  font-family: sans-serif;
  justify-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  align-items: center;
  background-color: #f2f2f2;
}

.searchDiv {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#repoSearchForm input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
}
#repoSearchForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}
#repoSearchForm input:focus {
  outline: 2px solid black;
}
#repoSearchForm button {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #cfcfcf;
  background-color: white;
  border-radius: 4px;
}
#repoSearchForm button:hover {
  background-color: rgb(231, 231, 231);
}

#app {
  width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.repositoryItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: auto;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  margin-bottom: 10px;
}

#repositories-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleAndUrl h2 {
  font-size: 20px;
}

.stars img {
  width: 30px;
  height: 30px;
  padding-top: 7px;
  opacity: 80%;
}

.stars {
  display: flex;
  flex-direction: row;
}

.titleAndUrl h2 {
  margin: 0;
}

.titleAndUrl a {
  font-size: small;
}
